*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
body{
    /*background-image: url("images/bckground4.jpeg");*/
    background-size: cover;
    background-position: center;
    font-family: "Comic Sans MS";
}
.logo{
    float: left;
    width: 25%;
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: 10px;



}
.menu-bar
{
   background:#ece1be;
    text-align:left;
    font-weight: bolder;
    float: right;
    width: 70%;
    /*height: content-box;*/
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    justify-content: space-evenly;
    color: #343a40;

}


.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #343a40;
}
.menu-bar li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #343a40;
}
.active, .menu-bar ul li:hover
{
    background: white;
    border-radius: 10px;
    align-items: center;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: whitesmoke;
    margin-top: 15px;
    margin-left: -15px;
    border-radius: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 100px;
    padding: 10px;
    border-bottom: 2px dotted black;
    background: transparent;
    text-align: center;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color:black;
}
.heads{

    font-family: "Franklin Gothic Book";
    font-weight: bold;
    color: #0f5132;

}
.content{
    font-family: "Franklin Gothic Book";
    text-align: left;
    color: red;
    margin-left: 20%;
    margin-right: 20%;
}
.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    margin-left: 50px;
    /*height: 300px; Should be removed. Only for demonstration */
    border-radius: 15px;
    border-color: darkgreen;
}
.column2 {

    float: right;
    width: 30%;
    padding: 10px;
    margin-right: 10px;
    /*height: 300px; Should be removed. Only for demonstration */
}


/* Clear floats after the columns*/

.row {
    content: "";
    display: table;
    clear: both;
    margin-right: 10px;
    margin-left: 10px;
}
